body {
  margin: 0;
  font-family:"inter",sans-serif;
}
p,a{
  font-family:"inter",sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
